@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', sans-serif;
}

#wrapper{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #344151;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.67rem;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.counterDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.counterDiv h2{
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.minus{
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid #bfbfbf;
}

.plus{
    padding-left: 15px;
    padding-right: 15px;
    border-left: 2px solid #bfbfbf;
}

.minus, .plus, #value{
    color: black;
    font-size: 35px;
    user-select: none;
}

.minus, .plus{
    cursor: pointer;
}

